<div id="all-cards">
  <% @decks.each do |d| %>
    <div class="hidden" id="this-deck">
      <div id="this-deck-name"><%= d.name %></div>
      <div id="this-deck-left"><%= d.left %></div>
      <div id="this-deck-right"><%= d.right %></div>
      <div id="this-deck-id"><%= d.id %></div>
    </div>
    <%= render 'add_card_modal', deck: d %>
    <% d.cards.each do |card| %>
      <%= card.name %>
    <% end %>
  <% end %>
</div>