<div id="all-cards">
  <% @decks.each do |deck| %>
    <%= deck.name %>
    <%= render 'add_card_modal', deck: deck %>
    
    <a href="#add-card-modal">Add Card</a>
          <%= deck.name %>a  
    <!-- <div id="add-card-modal" class="modal-dialog"> -->
          <%= deck.name %>b  
      <div>
          <%= deck.name %>c  
        <a href="#close-modal" id="close-card-modal" class="close-modal">X</a>
        <h2 id="deck-name-label"><%= deck.name %>: Add Card</h2>
        <%= form_tag("/cards", method: "post") do %>
          <%= deck.name %>d  
          <%= label_tag(:name, "Card Name") %>
          <%= text_field_tag :name, params[:name], id: "card-name" %><br>
          
          <%= label_tag(:left, "#{deck.left}", id: "deck-left-label") %>
          <%= text_area_tag :left, params[:left], id: "card-left-input" %><br>
          
          <%= label_tag(:right, "#{deck.right}", id: "deck-right-label") %>
          <%= text_area_tag :right, params[:right], id: "card-right-input" %>

          <%= hidden_field_tag(:deck_id, "#{deck.id}") %>
          <%= submit_tag("Create", id:"create-card-button") %>
        <% end %>
      </div>
    <!-- </div> -->

    <% deck.cards.each do |card| %>
      <%= card.name %>
    <% end %>
  <% end %>
</div>