<div id="header" class="container">
  Welcome to Tricards
  <div>
    Select a Deck
  </div>
</div>

<div id="sidebar" class="container">
  <div class="sidebar-item">
    <a href="#new-deck-modal">New Deck</a>
    <div id="new-deck-modal" class="modal-dialog">
      <div>
        <a href="#close-modal" title="Close" class="close-modal">X</a>
        <h2>New Deck</h2>
        <%= form_tag("/decks", method: "post") do %>
          <%= label_tag(:name, "Deck Name") %>
          <%= text_field_tag :name, params[:name], id: "deck-name" %>
          <%= submit_tag("Create", id:"create-deck-button") %>
        <% end %>
      </div>
    </div>


  </div>
  <% Deck.all.each do |d| %>
    <div class="sidebar-item">
      <%= d.name %>
      Deck Options
    </div>
  <% end %>
</div>

<div id="main-content" class="container">
  <div class="card">
    Card name
  </div>
</div>